/* -------------RESETS------------- */
Resets are used for overwriting default html tag properties/ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
}
html {
  font-size: 70%;
  height: 100%;
}
body {
  color: var(--dark);
  font-family: "Truculenta", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* --------------------------container-------------------------- */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
}

/* ----- vars ----- */
:root{
    --font: "Truculenta", sans-serif;
    --dark: #2b2b2b;
    --light: #ffffff;
    --primary: #1b8b83;
    --secondary: #cfa584;
    --tertiary: #d9d9d9;
}

/* ---------- header ---------- */
.header{
    padding: .5rem 0;
    background-color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative; 
}

.header .header_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img{
    width: 10rem;
    left: 2rem;
}

.header .nav{
    display: flex;
    gap: 3rem;
}

.header .nav li a{
    color: var(--dark);
    font-weight: bold;
    font-size: 2rem;
    transition: all .5s ease;
}

.header .nav li a:hover, .header .nav li a.active{
    color: var(--primary);
    transition: all .5 ease;
}

.header .toggle_menu{
  display: none;
}

/* mobile view na hahah */
.header .toggle_menu span{
  width: 3rem;
  height: 0.3rem;
  border: 1px solid var(--primary);
  border-radius: 1rem;
    transition: all .5s ease;
  background-color: var(--primary);
}

@media screen and (max-width: 600px) {
  .header{
    position: fixed;
    width: 100%;
    background-color: var(tertiary);
    z-index: 999;
  }
  .header .toggle_menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .header .nav{
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--tertiary);
    width: 50%;
    padding: 3rem;
    top: 0;
    margin-top: 9rem;
    right:-100%;
    z-index: 99;
    transition: all .5s ease;
  }

  .header .nav.open{
    right: 0;
    transition: all .5s ease;
  }


  .header .toggle_menu.open span:first-child{
    transition: all .5s ease;
    transform: translate(0px, 10px) rotate(225deg);
  }

  .header .toggle_menu.open span:nth-child(2){
    transition: all .5s ease;
    opacity: 0;
  }

   .header .toggle_menu.open span:last-child{
    transition: all .5s ease;
    transform: translate(0px, -12px) rotate(-225deg)
  }
}
/* top */

.top{
    background-color: var(--secondary);
    padding: 1rem 0;
    text-align: center;
}

.top small{
    font-weight: 300;
    font-size: 2rem;
}

.top h4{
    max-width: 10rem;
    margin: 0 auto;
    font-weight: bold;
    font-size: 4rem;
    line-height: 3rem;
}

/* banner */

.homeBanner{
  padding: 5rem 0;
  background-color: var(--tertiary);
}

.homeBanner .homeBanner_wrapper{
  display: flex;
  justify-content: space-between;
}

.homeBanner .homeBanner_txt{
  max-width: 80rem;
}

.homeBanner .homeBanner_txt--title li{
  font-size: 8.5rem;
  font-weight: bold;
  line-height:  7rem;
}

.homeBanner .homeBanner_txt--title li:first-child{
  color: var(--primary);
}

.homeBanner .homeBanner_txt--title li:nth-child(2){
  color: var(--secondary);
  margin-left: 8rem;
}

.homeBanner .homeBanner_txt--title li:last-child{
  color: var(--primary);
  font-weight: 200;
}

.homeBanner .homeBanner_txt--title li:last-child::before{
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 14rem;
  display: inline-block;
  position: relative;
  bottom: 2.5rem;
  right: 0.5rem;
}

.homeBanner .homeBanner_txt p{
  margin: 2rem 0;
  max-width: 50rem;
  text-align: justify;
}

.homeBanner .homeBanner_img{
  display: flex;
  gap: 2rem;
}
.homeBanner .homeBanner_img img:last-child{
  position: relative;
  top: 3rem;
}

/* about */

.homeAbt{
  padding: 5rem 0;
  background-color: var(--dark);
  color: var(--light);
}

.homeAbt h2{
  font-size: 4rem;
  color: var(--primary);
  font-weight: bold;
}

.homeAbt h2:before{
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 94rem;
  display: inline-block;
  position: relative;
  bottom: 1rem;
  right: .5rem;
}

.homeAbt .homeAbt_wrapper{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 5rem;
  text-align: justify;
}

.homeAbt .homeAbt_img img{
  width: 100rem;
}

.homeAbt .homeAbt_txt p{
  margin-bottom: 2rem;
}

/* catalog */

.homeCatalog{
  padding: 5rem 0;
  background-color: var(--tertiary);
}

.homeCatalog h2{
  font-size: 4rem;
  color: var(--primary);
  font-weight: bold;
}

.homeCatalog h2:after{
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 109rem;
  display: inline-block;
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
} 

.homeCatalog .homeCatalog_wrapper{
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

/* calltoaction */
.cta{ 
  text-align: center;
  padding: 3rem;
  background-color: var(--primary);
}

.cta h3{
  font-weight: bold;
  font-size: 3rem;
}

.cta p{
  margin: 1rem 0;
}


/* footer */
.footer{
  padding: 5rem 0;
  background-color: var(--dark);
  color: #ffffff;
}

.footer .footer_wrapper{
  display: flex;
  justify-content: space-between;
}

.footer .footer_wrapper .footer_social{
  display: flex;
  gap: 2rem;
}

.footer .footer_wrapper .footer_social li a{
  color: var(--light);
  transition: all .5s ease;
}

.footer .footer_wrapper .footer_social li a:hover{
  color: var(--primary);
  transition: all .5s ease;
}

/* -------- about.html -------- */
.aboutBanner{
  padding: 5rem 0;
  color: var(--dark);
}

.aboutBanner .aboutBanner_wrapper{
  display: flex;
  gap: 10rem;
}

.aboutBanner .banner_img{
  width: 100%;
}

.aboutBanner .banner_img h4:before{
  content: "  ";
  background-color: var(--dark);
  height: 0.2rem;
  width: 23.8rem;
  display: inline-block;
  position: relative;
  bottom: .5rem;
  right: .5rem;
}

.aboutBanner .aboutBanner_txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.aboutBanner .aboutBanner_txt h2{
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 3rem;
}

.aboutBanner .aboutBanner_txt p{
  margin-bottom: 2rem;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social{
  display: flex;
  gap: 1.5rem;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social li a{
  color: var(--dark);
  font-size: 3rem;
  transition: all .5s ease;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social li a:hover{
  color: var(--primary);
  transition: all .5s ease;
  font-size: 3rem;
}

.latest{
  padding: 5rem 0;
  background-color: var(--dark);
}

.latest .latest_text h4{
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  padding-left: 2.3rem;
}

.latest .latest_text p{
  color: var(--light);
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}

.latest .latest_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.latest .latest_wrapper p{
  color: var(--dark);
}

/* -------- internal pointer variabl -------- */
.btn{
  background-color: transparent;
  color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  transition: all .5s ease;

}

.btn.btn-tertiary{
  background-color: var(--tertiary);
  color: var(--dark);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .5s ease;
}

.btn.btn-tertiary:hover{
  background-color: var(--secondary);
  color: var(--light);  
  transition: all .5s ease;
}

.btn-nobg{
  color: var(--primary);
  transition: all .5s ease;
}

.btn-nobg:hover{
  color: var(--secondary);
  transition: all .5s ease;
}

.card{
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 35rem;
  border-radius: 1rem;
  transition: all .5s ease;
}

.card:hover{
  scale: 1.1;
  transition: all .5s ease;
}

.card img{
  width: 100%;
  border-radius: 1rem;  
}

.card .card_details{
  padding: 2rem;
}

.card .card_details h4{
  font-size: 2.5rem;
  color: var(--secondary);
  font-weight: bold;
}
.card .card_details p{
  margin: 1rem 0;;
}