/* -------------RESETS------------- */
Resets are used for overwriting default html tag properties/ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
}

html {
  font-size: 65%;
  height: 100%;
}

body {
  color: var(--dark);
  font-family: "Truculenta", sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* --------------------------container-------------------------- */
.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 90%;
}

/* ----- vars ----- */
:root {
  --font: "Truculenta", sans-serif;
  --dark: #2b2b2b;
  --light: #ffffff;
  --primary: #1b8b83;
  --secondary: #cfa584;
  --tertiary: #d9d9d9;
}

/* ---------- header ---------- */
.header {
  padding: 0.8rem 1rem;
  background-color: var(--tertiary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  overflow-y: hidden;
}

.header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* .header .header_wrapper.open {
  background-color: var(--tertiary);
  border-radius: 2rem;
  padding: 2rem;
  position: fixed;
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  z-index: 9999;
  left: 0%;

  right: 0;
  border: 1px solid var(--dark);
  transition: all .5s ease;
} */
.header img {
  width: 10rem;
}

.header .nav {
  display: flex;
  gap: 3rem;
}

.header .nav li a {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}

.header .nav li a:hover,
.header .nav li a.active {
  color: var(--primary);
  transition: all 0.5 ease;
}

.header .toggle_menu {
  display: none;
}

/* mobile view na hahah */
.header .toggle_menu span {
  width: 3rem;
  height: 0.3rem;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  transition: all 0.5s ease;
  background-color: var(--primary);
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: var(tertiary);
    z-index: 999;
    overflow: hidden;

  }

  .header img {
    width: 9rem;
    position: relative;
    top: 1rem;
  }

  .header .toggle_menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--tertiary);
    width: 50%;
    padding: 3rem;
    top: 0;
    margin-top: 9rem;
    right: -100%;
    z-index: 99;
    transition: all 0.5s ease;
    gap: 2rem;
  }

  .header .header_wrapper.open {
    position: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
  }

  .backdrop {
    display: none;
    transition: all 0.5s ease;
  }

  .backdrop.open {
    transition: all 0.5s ease;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    opacity: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .header .nav.open {
    right: 0;
    transition: all 0.5s ease;
  }

  .header .toggle_menu.open span:first-child {
    transition: all 0.5s ease;
    transform: translate(0px, 10px) rotate(225deg);
  }

  .header .toggle_menu.open span:nth-child(2) {
    transition: all 0.5s ease;
    opacity: 0;
  }

  .header .toggle_menu.open span:last-child {
    transition: all 0.5s ease;
    transform: translate(0px, -11px) rotate(-225deg);
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: var(tertiary);
    z-index: 999;
  }

  .header img {
    width: 9rem;
    position: relative;
    top: 1rem;
  }

  .header .toggle_menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header .header_wrapper.open {
    position: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
  }

  .header .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--tertiary);
    width: 50%;
    padding: 3rem;
    top: 0;
    margin-top: 9rem;
    right: -100%;
    z-index: 99;
    transition: all 0.5s ease;
    gap: 2rem;
  }

  .backdrop {
    display: none;
    transition: all 0.5s ease;
  }

  .backdrop.open {
    transition: all 0.5s ease;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    opacity: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .header .nav.open {
    right: 0;
    transition: all 0.5s ease;
  }

  .header .toggle_menu.open span:first-child {
    transition: all 0.5s ease;
    transform: translate(0px, 10px) rotate(225deg);
  }

  .header .toggle_menu.open span:nth-child(2) {
    transition: all 0.5s ease;
    opacity: 0;
  }

  .header .toggle_menu.open span:last-child {
    transition: all 0.5s ease;
    transform: translate(0px, -11px) rotate(-225deg);
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: var(tertiary);
    z-index: 999;
  }

  .header img {
    width: 9rem;
    position: relative;
    top: 1rem;
  }


  .header .toggle_menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--tertiary);
    width: 50%;
    padding: 3rem;
    top: 0;
    margin-top: 9rem;
    right: -100%;
    z-index: 99;
    transition: all 0.5s ease;
    gap: 2rem;
  }

  .header .header_wrapper.open {
    position: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
  }

  .backdrop {
    display: none;
    transition: all 0.5s ease;
  }

  .backdrop.open {
    transition: all 0.5s ease;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    opacity: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .header .nav.open {
    right: 0;
    transition: all 0.5s ease;
  }

  .header .toggle_menu.open span:first-child {
    transition: all 0.5s ease;
    transform: translate(0px, 10px) rotate(225deg);
  }

  .header .toggle_menu.open span:nth-child(2) {
    transition: all 0.5s ease;
    opacity: 0;
  }

  .header .toggle_menu.open span:last-child {
    transition: all 0.5s ease;
    transform: translate(0px, -11px) rotate(-225deg);
  }
}

/* top */

.top {
  background-color: var(--secondary);
  padding: 1rem 0;
  text-align: center;
}

.top small {
  font-weight: 300;
  font-size: 2rem;
}

.top h4 {
  max-width: 10rem;
  margin: 0 auto;
  font-weight: bold;
  font-size: 4rem;
  line-height: 3rem;

}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .top {
    padding-top: 11rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .top {
    padding-top: 11rem;
  }
}

@media screen and (max-width: 800px) {
  .top {
    padding-top: 11rem;
  }
}

/* banner */

.homeBanner {
  padding: 4rem 0;
  background-color: var(--light);
}

.homeBanner .homeBanner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
}

.homeBanner .homeBanner_txt {
  max-width: 80rem;
}

.homeBanner .homeBanner_txt--title li {
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 6rem;
}

.homeBanner .homeBanner_txt--title li:first-child {
  color: var(--primary);
}

.homeBanner .homeBanner_txt--title li:nth-child(2) {
  color: var(--secondary);
  margin-left: 8rem;
}

.homeBanner .homeBanner_txt--title li:last-child {
  color: var(--primary);
  font-weight: 200;
}

.homeBanner .homeBanner_txt--title li:last-child::before {
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 14rem;
  display: inline-block;
  position: relative;
  bottom: 2.5rem;
  right: 0.5rem;
}

.homeBanner .homeBanner_txt p {
  margin: 2rem 0;
  max-width: 50rem;
  text-align: justify;
}

.homeBanner .homeBanner_img {
  display: flex;
  gap: 2rem;
}

.homeBanner .homeBanner_img img:last-child {
  position: relative;
  top: 3rem;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .homeBanner .homeBanner_txt--title li {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4rem;
  }

  .homeBanner .homeBanner_txt--title li:first-child {
    margin-left: 9rem;
    color: var(--primary);
  }

  .homeBanner .homeBanner_txt--title li:nth-child(2) {
    color: var(--secondary);
    margin-left: 6rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child {
    position: relative;
    right: 4rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child::before {
    content: "  ";
    background-color: var(--primary);
    height: 0.2rem;
    width: 8rem;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    right: 0.5rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child::after {
    content: "  ";
    background-color: var(--primary);
    height: 0.2rem;
    width: 8rem;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 0.5rem;
  }

  .homeBanner .homeBanner_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }

  .homeBanner .homeBanner_img {
    display: none;
  }

  .homeBanner .homeBanner_txt p {
    position: relative;
    right: 3rem;
    margin-right: 5rem;
  }

  .homeBanner .homeBanner_txt a {
    width: 31rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    right: 5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .homeBanner .homeBanner_txt--title li {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4rem;
  }

  .homeBanner .homeBanner_txt--title li:first-child {
    margin-left: 9rem;
    color: var(--primary);
  }

  .homeBanner .homeBanner_txt--title li:nth-child(2) {
    color: var(--secondary);
    margin-left: 6rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child {
    position: relative;
    right: 4rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child::before {
    content: "  ";
    background-color: var(--primary);
    height: 0.2rem;
    width: 8rem;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    right: 0.5rem;
  }

  .homeBanner .homeBanner_txt--title li:last-child::after {
    content: "  ";
    background-color: var(--primary);
    height: 0.2rem;
    width: 8rem;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 0.5rem;
  }

  .homeBanner .homeBanner_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }

  .homeBanner .homeBanner_img {
    display: none;
  }

  .homeBanner .homeBanner_txt p {
    position: relative;
    right: 3rem;
    margin-right: 5rem;
  }

  .homeBanner .homeBanner_txt a {
    width: 31rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    right: 5rem;
  }
}

/* about */

.homeAbt {
  padding: 4rem 0;
  background-color: var(--dark);
  color: var(--light);
}

.homeAbt h2 {
  font-size: 4rem;
  color: var(--primary);
  font-weight: bold;
}

.homeAbt h2:before {
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 84.5rem;
  display: inline-block;
  position: relative;
  bottom: 1rem;
  right: 0.5rem;
}

.homeAbt h2:after {
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 94rem;
  display: none;
  position: relative;
  bottom: 1rem;
  left: 1rem;
}

.homeAbt .homeAbt_wrapper {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 5rem;
  text-align: justify;
}

.homeAbt .homeAbt_img img {
  width: 80rem;
}

.homeAbt .homeAbt_txt p {
  margin-bottom: 2rem;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .homeAbt .homeAbt_img {
    display: none;
  }

  .homeAbt h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeAbt h2:before {
    content: "  ";
    width: 5rem;
    bottom: .1rem;
  }

  .homeAbt h2:after {
    content: "  ";
    width: 5rem;
    bottom: .1rem;
    display: inline-block;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .homeAbt .homeAbt_img {
    display: none;
  }

  .homeAbt h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeAbt h2:before {
    content: "  ";
    width: 5rem;
    bottom: .1rem;
  }

  .homeAbt h2:after {
    content: "  ";
    width: 5rem;
    bottom: .1rem;
    display: inline-block;
  }
}

/* catalog */

.homeCatalog {
  padding: 5rem 0;
  background-color: var(--tertiary);
}

.homeCatalog h2 {
  font-size: 4rem;
  color: var(--primary);
  font-weight: bold;
}

.homeCatalog h2:before {
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 94rem;
  display: none;
  position: relative;
  bottom: 1rem;
  right: 0.5rem;
}

.homeCatalog h2:after {
  content: "  ";
  background-color: var(--primary);
  height: 0.2rem;
  width: 94rem;
  display: inline-block;
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
}

.homeCatalog .homeCatalog_wrapper {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .homeCatalog h2:before {
    display: inline-block;
    width: 13rem;
  }

  .homeCatalog h2:after {
    width: 13rem;
  }

  .homeCatalog .homeCatalog_wrapper {
    gap: 1.5rem;
  }
}

/* call to action */
.cta {
  text-align: center;
  padding: 3rem;
  background-color: var(--primary);
}

.cta h3 {
  font-weight: bold;
  font-size: 3rem;
}

.cta p {
  margin: 1rem 0;
}

/* footer */
.footer {

  padding: 4rem 0;
  background-color: var(--dark);
  color: #ffffff;
}

.footer .footer_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15rem;
  text-align: center;
}

.footer .footer_wrapper .footer_social {
  display: flex;
  gap: 2rem;
}

.footer .footer_wrapper .footer_social li a {
  color: var(--light);
  transition: all 0.5s ease;
}

.footer .footer_wrapper .footer_social li a:hover {
  color: var(--primary);
  transition: all 0.5s ease;
}

@media screen and (max-width: 480px) {
  .footer .footer_wrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .footer .footer_wrapper .footer_social {
    justify-content: center;
  }
}

/* -------- about.html -------- */
.aboutBanner {
  padding: 5rem 0;
  color: var(--dark);
}

.aboutBanner .aboutBanner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  gap: 3rem;
}

.aboutBanner .banner_img {
  width: 100%;
}

.aboutBanner .banner_img h4:before {
  content: "  ";
  background-color: var(--dark);
  height: 0.2rem;
  width: 22.5rem;
  display: inline-block;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
}

.aboutBanner .aboutBanner_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.aboutBanner .aboutBanner_txt h2 {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 3rem;
}

.aboutBanner .aboutBanner_txt p {
  margin-bottom: 2rem;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social {
  display: flex;
  gap: 1.5rem;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social li a {
  color: var(--dark);
  font-size: 3rem;
  transition: all 0.5s ease;
}

.aboutBanner .aboutBanner_txt .aboutBanner_social li a:hover {
  color: var(--primary);
  transition: all 0.5s ease;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .aboutBanner .aboutBanner_wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    right: 3rem;
    padding-top: 7rem;
  }

  .aboutBanner .banner_img {
    width: 60%;
  }

  .aboutBanner .banner_img h4:before {
    width: 12.5rem;
  }

  .aboutBanner .aboutBanner_txt .aboutBanner_social {
    justify-content: center;
  }

  .aboutBanner .aboutBanner_txt h2 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    left: 1rem;
  }

  .aboutBanner .aboutBanner_txt p {
    margin: 1rem;
    text-align: justify;
  }
}

/* latest section */

.latest {
  padding: 5rem 0;
  background-color: var(--dark);
}


.latest .latest_text h4 {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  padding-left: 2.3rem;
}

.latest .latest_text p {
  color: var(--light);
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}

.latest .latest_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.latest .latest_wrapper p {
  color: var(--dark);
}

@media screen and (max-width:480px) {
  .latest .latest_wrapper {
    gap: 1.5rem;
  }
}

/* catalog page */
.catalogBanner {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/img/catalog-banner.png) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.catalogBanner h1 {
  font-size: 7rem;
  font-weight: bold;
  color: var(--primary);
}

.catalogBanner h4 {
  font-size: 2.5em;
  max-width: 40rem;
  margin: 0 auto;
}

/* body00 */
.packages {
  padding: 5rem 0;
}

.packages .pkg_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.packages h2 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: var(--primary);
  margin-bottom: 5rem;
}

.packages .pkg_wrapper .pkg_item img {
  width: 100%;
}


.packages .pkg_wrapper .pkg_item h3 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.packages .pkg_wrapper .pkg_item p {
  max-width: 50rem;
  text-align: justify;
}

.packages .pkg_wrapper .pkg_item {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  align-items: center;
  width: 100%;
}

.packages .pkg_wrapper .pkg_item:nth-child(even) {
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: var(--tertiary);
  max-width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media screen and (max-width:480px) {
  html {
    overflow-x: hidden;
  }

  .header .logo {
    max-height: fit-content;
    overflow: hidden;
    position: relative;
    right: 3.5rem;
  }


  .catalogBanner {
    padding: 2rem 1rem;
  }

  .catalogBanner h1 {
    font-size: 4rem;
  }

  .catalogBanner h4 {
    font-size: 2rem;
    max-width: 90%;
  }

  .packages {
    margin: 0 auto;
  }

  .packages h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .packages .pkg_wrapper {
    display: flex;
    justify-content: center;

  }


  .packages .pkg_wrapper .pkg_item {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }

  .packages .pkg_wrapper .pkg_item h3 {
    margin-right: 1rem;
    font-size: 2.5rem;
  }

  .packages .pkg_wrapper .pkg_item p {
    max-width: 80%;
    font-size: 1.5rem;
    display: flex;
    justify-self: center;
    margin-right: 1rem;
  }

  .packages .pkg_wrapper .pkg_item img {
    margin-right: 1rem;
    max-width: 65%;
  }

}


/* updates */
.updatesBanner {
  padding: 5rem 0;
}

.updatesBanner .updatesBannerWrapper {
  display: flex;
  max-width: 100%;
  gap: 10rem;
}

.updatesBanner .updatesBannerWrapper .updatesBannerText {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  ;
}

.updatesBanner .updatesBannerWrapper .updatesBannerText h1 {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  color: var(--primary);
  margin-bottom: 4rem;
}

.updatesBanner .updatesBannerWrapper .updatesBannerText p {
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .updatesBanner .updatesBannerWrapper {
    padding-top: 6.5rem;
  }

  .updatesBanner .updatesBannerWrapper .updatesBannerImg {
    display: none;
  }


}

/* building designs */

.buildings h3 {
  font-size: 3rem;
  color: var(--secondary);
  padding-left: 3rem;
  font-weight: bold;
}

.buildings h5 {
  font-size: 3rem;
  color: var(--secondary);
  padding-left: 3rem;
  position: relative;
  bottom: 4rem;
  left: 70.5rem;
  font-weight: bold;
}

.buildings .buildings_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.buildings .buildings_wrapper .building_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.buildings .buildings_wrapper .building_box {
  width: 30rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: var(--tertiary);

}

.buildings .buildings_wrapper .building_box h2 {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.buildings .buildings_wrapper .building_box a i {
  color: var(--dark);
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  margin-top: 1rem;
  font-size: 2.7rem;
}

.buildings .buildings_wrapper .building_right {
  display: flex;
  gap: 20rem;
  font-size: 2.5rem;
  line-height: 5rem;
}

.buildings .buildings_wrapper .building_right ul li {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .buildings .buildings_wrapper .building_left {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8.5rem;
  }

  .buildings .buildings_wrapper .building_box {
    width: 15rem;
    padding: 1.5rem;
    border-radius: 2rem;
  }

  .buildings .buildings_wrapper {
    grid-template-columns: 1fr;
  }

  .buildings .buildings_wrapper .building_right {
    padding-left: 1rem;
  }

  .buildings h3 {
    padding-left: 1rem;
  }

  .buildings h5 {
    font-size: 3rem;
    padding-left: .5rem;
    color: var(--secondary);
    position: relative;
    top: 100rem;
    left: 1rem;
    font-weight: bold;
  }
}

/* recents */

.recents {
  padding: 5rem 0;
}

.recents h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 2rem;
}

.recents .recents_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.recents .recents_wrapper .affiliates {
  display: flex;
  gap: 13.5rem;
  margin-bottom: 2rem;
}

.recents .recents_wrapper .affiliates p {
  font-size: 2rem;
  font-weight: bold;
}

.recents .recents_wrapper .affiliate1 {
  display: flex;
  gap: 1rem;
}

.recents .recents_wrapper .affiliate1 i {
  position: relative;
  top: .5 rem;
  font-size: 2rem;
  align-self: center;
}

/* contacts */
.contacts {
  padding-top: 5rem;
  padding-bottom: 15rem;
  background-color: #fff;
}

.contacts .hello h2 {
  color: var(--primary);
  font-size: 6.5rem;
  font-weight: bold;
}

.contacts .contacts_wrapper {
  display: flex;
}

.contacts .contacts_wrapper .forms form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}

.contacts .contacts_wrapper .forms form input {
  width: 60rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: var(--tertiary);
  font-family: var(--font);
  margin: 1rem;
  font-size: 2rem;
}

.contacts .contacts_wrapper .forms form textarea {
  margin: 1rem;
  width: 60rem;
  border-top: none;
  border-right: none;
  font-family: var(--font);
  border-left: none;
  font-size: 2rem;
  border-bottom-color: var(--tertiary);
  resize: none;
}

.contacts .contacts_wrapper .forms form button {
  background-color: var(--dark);
  color: var(--light);
  letter-spacing: 1rem;
  width: 60rem;
  font-size: 2rem;
  font-family: var(--font);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  border-radius: 2rem;
}

.contacts .contact_box {
  width: 40rem;
  height: 30rem;
  background: var(--dark);
  color: var(--light);
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contacts .contact_box h2 {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
}

.contacts .contact_box .contacts_details {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.contacts .contact_box .contacts_details .details {
  max-width: 30rem;
  font-size: 2rem;
  margin-right: 4rem;
  list-style: none;
}

.contacts .contact_box .contacts_details .icons {
  max-width: 30rem;
  font-size: 2rem;
  margin-left: 4rem;
  color: var(--secondary);

}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .contacts {
    padding-top: 15rem;
  }

  .contacts .hello h2 {
    font-size: 3rem;
  }

  .contacts .hello p {
    font-size: 1rem;
  }

  .contacts .contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contacts .contacts_wrapper .forms form input {
    width: 29rem;
  }

  .contacts .contacts_wrapper .forms form textarea {
    width: 29rem;
  }

  .contacts .contacts_wrapper .forms form {
    padding: 0;
  }

  .contacts .contacts_wrapper .forms .btnsubmit {
    width: 9rem;
    padding: 0;
    margin: 0 auto;
  }

  .contacts .contact_box {
    width: 30.7rem;
    margin-left: 0;
  }

}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .contacts {
    padding-top: 13rem;
  }

  .contacts .hello h2 {
    font-size: 3rem;
  }

  .contacts .hello p {
    font-size: 1rem;
  }

  .contacts .contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contacts .contacts_wrapper .forms form input {
    width: 48rem;
    padding: 1rem;
  }

  .contacts .contacts_wrapper .forms form textarea {
    padding: 1rem;
    width: 48rem;
  }

  .contacts .contacts_wrapper .forms form {
    padding: 0;
  }

  .contacts .contacts_wrapper .forms .btnsubmit {
    width: 50rem;
    padding: 0;
    margin: 0 auto;
  }

  .contacts .contact_box {
    width: 51.8rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .contacts {
    padding-top: 13rem;
  }

  .contacts .hello h2 {
    font-size: 3rem;
  }

  .contacts .hello p {
    font-size: 1rem;
  }

  .contacts .contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contacts .contacts_wrapper .forms form input {
    width: 65rem;
    padding: 1rem;
  }

  .contacts .contacts_wrapper .forms form textarea {
    padding: 1rem;
    width: 65rem;
  }

  .contacts .contacts_wrapper .forms form {
    padding: 0;
  }

  .contacts .contacts_wrapper .forms .btnsubmit {
    width: 65rem;
    padding: 0;
    margin: 0 auto;
  }

  .contacts .contact_box {
    width: 69.2rem;
    margin-left: 0;
  }
}



/* -------- internal pointer variabl -------- */
.btn {
  background-color: transparent;
  color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  transition: all 0.5s ease;
}

.btn.btn-tertiary {
  background-color: var(--tertiary);
  color: var(--dark);
  font-weight: bold;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
}

.btn.btn-tertiary:hover {
  background-color: var(--secondary);
  color: var(--light);
  transition: all 0.5s ease;
}

.btn-nobg {
  color: var(--primary);
  transition: all 0.5s ease;
}

.btn-nobg:hover {
  color: var(--secondary);
  transition: all 0.5s ease;
}

.card {
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 30rem;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.card img {
  width: 100%;
  border-radius: 1rem;
}

.card .card_details {
  padding: 1.5rem;
}

.card .card_details h4 {
  font-size: 2rem;
  color: var(--secondary);
  font-weight: bold;
}

.card .card_details p {
  margin: 0.8rem 0;
}

@media screen and (min-width: 400px) and (max-width: 600px) {}

@media screen and (min-width: 600px) and (max-width: 800px) {}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    overflow: hidden;
  }

  body {
    overflow-x: hidden;
  }

  .card {
    max-width: 17rem;
  }

  .latest .latest_wrapper .card .card_details {
    padding: 0.5rem;
    position: relative;
    right: 1rem;
  }

  .card .card_details {
    padding: 0.5rem;
  }
}